body {
    margin: 0%;
}

.header {
    background-color: #000000;
    font-size: 18px;
    color: #E5E7EB;
}

.linkbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #001A1A;
}

.upperlinks {
    display: flex;
    gap: 20px;
    align-items: center;
}

a:hover {
    background-color: #0D7878;
}

.logo {
    width: 5rem;
    height: 4rem;
}

.headimg {
    width: 15rem;
}

.intro h1 {
    font-weight: extra-bold;
    font-size: 48px;
    color: #F9FAF8;
}

.intro {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 70px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

h3 {
    text-align: center;
}

.collections img {
    width: 15rem;
}

.collections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-bottom: 5%;
}

.collection {
    padding-top: 20px;
}

.collection:hover {
    background-color: #09DEDE;
    width: 19rem;
}

button {
    background-color: #3882F6;
    border-radius: 20%;
    border: solid #3882F6;
}

.testimonials img {
    width: 17rem;
    border: solid 1px;
}

.testimonies {
    background-color: #E5E7EB;
    padding: 60px;
}

.testimonials {
    display: flex;
    justify-content: center;
}

.testimonials-right {
    display: flex;
    flex-direction: column;
}

.testimonial-wom, .testimonial-man {
    display: flex;
    flex: 1;
}

.commentary-one {
    width: 17rem;
    border: solid 1px;
    margin-top: -5px;
    background-color:#10A3A3;
}

.commentary-wom, .commentary-man {
    border: solid 1px;
    background-color: #10A3A3;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.commentary-man {
    border-top: none;
}

.footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}